
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet">
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">Il existe reservation (s) </h6>
      <a routerLink='/addres' class="btn btn-primary">Ajouter OU ANNULER</a>
    </div>
  </div>
  <div class="card-body">



    <div >



      <div class="table-responsive" >

        <table class="table table-bordered" id="dataTable" >
          <thead>
          <tr>
            <th>ID</th>
            <th>numeroRES</th>
            <th>dateDebut</th>
            <th>dateFin</th>
            <th>estValide</th>

            <th>Action</th>
          </tr>
          </thead>
          <tbody *ngFor="let res of reservations" >
          <tr>
            <td class="user-link">{{res.id}}</td>
            <td>{{res.numResrvation}}</td>
            <td>{{res.dateDebut }}</td>
            <td>{{res.dateFin}}</td>
            <td><span [ngClass]="{'badge bg-danger': !res.estValide, 'badge bg-success': res.estValide}">{{res.estValide}}</span></td>

            <td style="width: 20%;">



            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>


    <!-------------------------------------------- Afficher la liste filtrée ------------------------------------------------->







  </div>
</div>
