<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet">
<div class="card shadow mb-4 mx-2">
  <div class="card-header py-3">
    <form #formChambre="ngForm" (ngSubmit)="addChambre(formChambre)" class="form-group row">
      <div class="row">

      <div class="col-3">
        <input type="numbre" ngModel name="numeroChambre"  #numerochambre="ngModel" required minlength="3" pattern="[a-zA-Z]*" #nomModel="ngModel" class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Numero chambre" style="height: 40px; font-size: 12px;" required>
        <div *ngIf="numerochambre.errors?.['required'] && numerochambre?.['touched']" class="alert alert-danger">
          Ce champ est requis
        </div>

      </div>
      <div class="col-3">
        <select
          id="typeC"
          ngModel
          name="typeC"
          #Typec="ngModel"
          required
          class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-4500 dark:placeholder-gray-300"
          style="height: 40px; font-size: 12px;"
        >
          <option value="" disabled selected>Choisir le type</option>
          <option value="SIMPLE">Simple</option>
          <option value="DOUBLE">Double</option>
          <option value="TRIPLE">Triple</option>
        </select>
        <div *ngIf="Typec.errors?.['required'] && Typec?.['touched']" class="alert alert-danger">
          Ce champ est requis
        </div>
      </div>
      </div>

      <div class="col-2 mt-3" >
        <button type="submit" class="btn bg-primary text-white" ><strong>Ajouter</strong></button>
      </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
      <thead>
      <tr>
        <th>Id Chambre</th>
        <th>Numéro Chambre</th>
        <th>Type Chambre</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let chambre of listChambre">
      <tr>
        <td>{{chambre.idChambre}}</td>
        <td>{{chambre.numeroChambre}}</td>
        <td>{{chambre.typeC}}</td>
        <td style="width: 10%;">
          <a href="#" class="table-link text-success">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a class="table-link text-primary" [routerLink]="['/dashboard/updateChambre',chambre.idChambre ]">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
