<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- Page title -->
      <div class="my-5">
        <h3>My Profile</h3>
        <hr>
      </div>
      <!-- Form START -->
      <form class="file-upload" [formGroup]="myForm "  class="form-group" (ngSubmit)="updateS()">
        <div class="row mb-5 gx-5">
          <!-- Contact detail -->
          <div class="col-xxl-8 mb-5 mb-xxl-0">
            <div class="bg-secondary-soft px-4 py-5 rounded">
              <div class="row g-3">
                <h4 class="mb-4 mt-0">Contact detail</h4>
                <!-- First Name -->
                <div class="col-md-6">
                  <label class="form-label">LAST Name *</label>
                  <input type="text" id="nom" name="prenom" formControlName="nom" class="form-control">
                </div>
                <!-- Last name -->
                <div class="col-md-6">
                  <label class="form-label"> Name </label>
                  <input type="text"   id="prenom" name="prenom" formControlName="prenom" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="form-label"> Cin </label>
                  <input type="text"   id="cin" name="cin" formControlName="cin" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="form-label"> ecole </label>
                  <input type="text"   id="ecole" name="ecole" formControlName="ecole" class="form-control">
                </div>
                <!-- Phone number -->
                <div class="col-md-6">
                  <label class="form-label">EMAIL</label>
                  <input type="text"  id="email" name="email" formControlName="email" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Password *</label>
                  <input type="text"  id="password" name="password"  formControlName="password" class="form-control">
                </div>
                <!-- Mobile number -->

              </div> <!-- Row END -->
            </div>
          </div>
          <!-- Upload profile -->

        </div> <!-- Row END -->

        <!-- Social media detail -->
        <div class="gap-3 d-md-flex justify-content-md-end text-center">

          <button type="submit" class="btn btn-primary btn-lg">Update profile</button>
        </div>

      </form> <!-- Form END -->
    </div>
  </div>
</div>
