<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet">
<div class="card shadow mb-4 mx-2">
  <div class="col-md-11 mx-auto">
    <div class="card shadow mb-4 mx-2">

      <div class="card-header py-1">
        <div class="search-container mb-3 text-center">
          <label for="searchInput" class="sr-only">Rechercher</label>
          <div class="input-group">
            <input type="text" id="searchInput" placeholder="Rechercher..." class="form-control small-search-input">
            <div class="input-group-append">
      <span class="input-group-text bg-primary">
        <i class="fa fa-search text-white"></i>
      </span>
            </div>
          </div>
        </div>
        <h4 class="text-center text-success">Ajouter Bloc</h4>
        <form #formBloc="ngForm" (ngSubmit)="addBloc(formBloc)" class="form-group row ">
          <div class="col-3 mx-auto "> <!-- Ajout de la classe mx-auto -->
            <div class=" d-flex justify-content-center">
              <label >Nom Bloc</label>
            </div>
            <input type="text" ngModel name="nomBloc" required minlength="3" pattern="[a-zA-Z]*" #nomModel="ngModel" class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Nom du Bloc" style="height: 40px; font-size: 12px;" required [minLength]="3">
            <div *ngIf="nomModel.errors?.['required'] && nomModel?.['touched']" class="alert alert-danger">
              Ce champ est requis
            </div>
          </div>
          <div class="col-3 mx-auto "> <!-- Ajout de la classe mx-auto -->
            <div class="d-flex justify-content-center">
              <label>Capacité bloc</label>
            </div>
            <input type="text" ngModel name="capaciteBloc"  #capaciteModel="ngModel"required minlength="3" pattern="[a-zA-Z]*" #nomModel="ngModel" class="form-control bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-4500 dark:placeholder-gray-300" placeholder="Capacité bloc" style="height: 40px; font-size: 12px;" required>
            <div *ngIf="capaciteModel.errors?.['required'] && capaciteModel?.['touched']" class="alert alert-danger">
              Ce champ est requis
            </div>

          </div>
          <label></label>
          <div class="col-12 d-flex justify-content-center mt-3 "> <!-- Ligne pour le bouton avec un espace vertical (mt-3) -->
            <button type="submit" class="btn bg-primary text-white">Ajouter</button>
          </div>
        </form>
      </div>



      <div class="card-header py-3 text-center">
        <h4 class="text-success">Affecter Chambre à bloc</h4>

        <!-- Première ligne : Sélection et Input -->
        <div class="row mb-3">
          <div class="col-md-6 mx-auto">
            <div class="col-md-6 mx-auto">
              <label for="numChambers">Id chambre </label>
              <input type="text" id="numChambers" [(ngModel)]="numChambersInput" class="form-control form-control-sm bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-50 mx-auto" placeholder="1, 2, 3">
            </div>
            <div class="col-md-6 mx-auto">
              <label for="nomBloc">Id du bloc :</label>
              <input type="number" id="nomBloc" [(ngModel)]="idBlocInput" class="form-control form-control-sm bg-white dark:text-gray-100 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-50 mx-auto" placeholder="NomDuBloc">
            </div>
            <br>
            <button class="btn btn-primary" (click)="affecterChambres()">Affecter chambres au bloc</button>
          </div>

        </div>
      </div>




    </div>
  </div>

    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
          <th>Id Bloc</th>
          <th>Nom</th>
          <th>Capacité</th>
          <th>Chambre</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let bloc of listBloc">
        <tr>
          <td>{{bloc.idBloc}}</td>
          <td>{{bloc.nomBloc}}</td>
          <td>{{bloc.capaciteBloc}}</td>
          <td class="text-center align-middle">
            <span *ngFor="let ch of bloc.chambres" [ngClass]="{'badge bg-success border': bloc.chambres, 'badge bg-danger border': !bloc.chambres}">

              {{ch.numeroChambre}}
            </span>
          </td>
          <td style="width: 10%;">
<!--            <a href="#" class="table-link text-success">-->
<!--            <span class="fa-stack">-->
<!--              <i class="fa fa-square fa-stack-2x"></i>-->
<!--              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>-->
<!--            </span>-->
<!--            </a>-->
            <a class="table-link text-primary" [routerLink]="['/dashboard/updateBloc',bloc.idBloc ]">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            <a  class="table-link text-danger" (click)="delete(bloc.idBloc)">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>



